.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    color: blanchedalmond;
    }
    .background-img {
        background-image: url("https://i.pinimg.com/originals/7f/27/72/7f27723b145c8649d1e9c638c38b65f7.jpg");
    }
    
    .li {
        color: rgb(251, 0, 0);
        font-size: 25px;
        font-weight:bold ;
        margin: 25px;
    }
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        color: rgb(221, 206, 206);
                font-weight:bold ;
               
    color: #ffffff;
    text-align: left;

    }
    table, th, td, tr {
        border: 3px solid black;
        border-collapse: collapse;
        padding: 20px;
        
        color: rgb(251, 0, 0);
      border-collapse: collapse;
      margin: 250px 0;
      font-size: 1em;
      font-family: sans-serif;
      min-width: 50px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
      
margin-left: auto;
margin-right: auto;

      }